@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Azeret Mono", monospace;
    max-width: 1550px;
    height: 5245px;
    margin: 0 auto;
}


nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 150px;
}

nav li {
    list-style: none;
}

nav ul h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav li button {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 20px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.banner-section-container {
    width: 1550px;
    height: 700px;
    margin: 0 auto;
    background-image: url("/assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.text-content-section {
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    padding-top: 100px;

}

.banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    ;

}

.banner-discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;

}


.btn-style {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-top: px;
}
